
.home-box{
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
   
}
.home-box{
    color: white;
}
.home-bg{
    width: 100%;
    height: 1100px;
    background: linear-gradient(180deg, #D8E5FF -40.28%, #5547FB 44.47%, #000584 100%);
}
.image{
    position: relative;
}
.home{
    color: white;
    position: relative;
    overflow: hidden;
    height: 1100px;
    margin-bottom: 96px;
    z-index: 5;
    background: url(../images/background.png) center -160px no-repeat;
    background-size: 100% 126%;
}
.navbar{   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    align-items: center;
}
.nav-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.btn{
    color: white;
    margin: 0 18px;
    background: transparent;
    border: none;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
.button{
    border: none;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background: linear-gradient(92.75deg, #A9F801 -12.98%, #45FEE8 108.02%);
    color: #000;
    font-weight: 700;
    font-size: 1rem;
    margin-left:18px ;
    border-radius: 10px;
    cursor: pointer;
    opacity: 1;
}
.button:hover{
    opacity: 0.8;
}
.home-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.home-left{
    display: flex;
    flex-direction: column;
}
.home-section h4{
    font-size: 48px;
    width: 24rem;
    margin-bottom: 1.8rem;
}
.home-bg p{
    /* font-weight: 400px; */
    font-size: 30px;
    margin-bottom: 4rem;
}
.home-button{
    height: 60px;
    font-size: 26px;
    padding-left: 40px;
    padding-right: 40px;
    width: 23rem;
    margin-left: 0;
}
.home-section img{
    position: relative;
    top: 80px;
    left: 50px;
    width: 740px;
    height: 770px;
    animation: 5s homeanimation linear infinite alternate;
}
.ripple-img{
    position: absolute;
    left: 0;
    width: 100%;
}
.foot-img{
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 5;
    width: 170%;
    height: 425px;
    /* right: 10px; */
    left: -300px;
    /* align-self: center; */
}
.banner-img1{
    position: absolute;
    bottom: -90px;
    left: 50%;
    z-index: 3;
    margin-left: -700px;
    width: 151px;
    height: 225px;
    animation: 1s banner ease-in-out 1s infinite alternate;
}
.banner-img2{
    position: absolute;
    bottom: -16px;
    left: 50%;
    z-index: 3;
    margin-left: -510px;
    width: 317px;
    height: 278px;
    animation: 1s banner ease-in-out 1.2s infinite alternate;
}
.banner-img3{
    position: absolute;
    bottom: -78px;
    left: 50%;
    z-index: 3;
    margin-left: -438px;
    width: 350px;
    height: 287px;
    animation: 1s banner ease-in-out 1.5s infinite alternate;
}
.banner-img4{
    position: absolute;
    bottom: -98px;
    left: 50%;
    z-index: 3;
    margin-left: -360px;
    width: 331px;
    height: 225px;
    animation: 1s banner ease-in-out 1.3s infinite alternate;
}
.fish1-img{
    position: absolute;
    bottom: 96px;
    left: 50%;
    z-index: 3;
    margin-left: -540px;
    width: 128px;
    height: 107px;
    animation: 1.2s fish ease-in-out 0.2s infinite alternate;
}
.fish2-img{
    position: absolute;
    bottom: 220px;
    left: 50%;
    z-index: 3;
    margin-left: -130px;
    width: 135px;
    height: 96px;
    animation: 0.8s fish ease-in-out 1s infinite alternate;
}
.coming-soon{
    width: 100%;
    background-color: #000;
    padding: 30px 4rem ;
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 30px; */
    max-height: 50px;
    border-radius: 60px;
}
.coming-soon .left{
    font-size: 30px;
    margin: 0;
    color: white;
    
}
.coming-soon .center{
    color: #A9F801;
    font-weight: 500;
    font-size: 40px;
    margin: 0;
}
.btn1-img{
    position: relative;
    display: block;
    /* right: 11.9rem; */
    top: 9.5rem;
    left: 40px;
    width: 9.6rem;
    height: 10.6rem;
}
.btn2-img{
    position: relative;
    display: block;
    /* right: 0; */
    left: 70px;
    top: 40px;
    width: 20rem;
    height: 21.5rem;
}
/* Existing CSS */
/* Existing CSS */

.hamburger-menu {
    display: none;
    
    /* margin-right: 20px; */
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
    transition: 0.4s;
}

@media screen and (max-width: 740px) {
    .navbar h2{
        margin-left: 4rem;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-btns {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100vh;
        background: #fff;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding-top: 2rem;
        padding-bottom: 0.5rem;
        align-items: center;
        z-index: 10;
        transition: 0.3s ease-in-out;
        
    }

    .nav-btns.active {
        right: 0;
    }
.hamburger-menu{
    color: #000;
    display: block;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px;
    z-index: 15;
}
.btn{
    color: #000;
    margin: 18px;
}
    .hamburger-menu.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    /* Rest of your media queries */
}
